<%- include('header') %>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title">
            <h2 class="fw-bold">Login System</h2>
            <span>Invalid User Credentials</span>
           <a href="/route/base"><button type="button" class="btn btn-success">Go Back</button></a> 
        </div>

    </div>
</div>


<%- include('footer') %>